@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-3xl font-normal;
}

h2 {
    @apply text-2xl font-normal;
}

body {
    @apply font-sans antialiased text-onSurface dark:text-green-50;
    @apply bg-surface dark:bg-green-950;
    padding-bottom: 5rem;
}

html {
    box-sizing: border-box;
    scrollbar-width: none;
}
