@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-3xl font-black;
}

h2 {
    @apply text-2xl font-normal;
}

body {
    @apply font-sans antialiased bg-surface text-green-950 dark:bg-green-950 dark:text-green-50;
    padding-bottom: 5rem;
}

html {
    box-sizing: border-box;
    scrollbar-width: none;
}
